
@{
    ViewBag.Title = "Thongtin";
    Layout = "~/Areas/ql_website/Views/Shared/Layout_admin01.cshtml";
}

<h2 style="text-align:center;color:darkblue">ĐỒ ÁN TỐT NGHIỆP</h2> <br />
<div style="border:dotted;font-size:20px;background-color:lavender;height:300px;">
    <div style="float:left">
        <h3>GIẢNG VIÊN HƯỚNG DẪN: NGÔ HỒNG MINH</h3>
        <b>Đề tài thực hiện:</b> Xây dựng website đăng ký khám bệnh trực tuyến<br />
        Sinh viên thực hiện: TRẦN VĂN TÂN <br />
        Lớp: D16HT01 <br />
        Ngành: HỆ THỐNG THÔNG TIN <br />
    </div>
      
</div>
