@model doan_qldkonline.Models.datlichkham

@{
    ViewBag.Title = "thongtin_benhnhan";
    Layout = "~/Views/layout/layout_user_profile.cshtml";
}

<h2>thongtin_benhnhan</h2>

<div>
    <h4>datlichkham</h4>
    <hr />
    <dl class="dl-horizontal">
       aaaa
                <@*dd>
                    @Html.DisplayFor(model => model.hoten)
                </dd>
               
              
                <dd>
                    <img src="@Url.Content(Model.hinhdaidien)" width="250" height="250" multiple />
                </dd>*@
     </dl>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
