
@{
    ViewBag.Title = "dichvu";
    Layout = "~/Views/layout/layout_trangchu.cshtml";
}
<!-- Container (Services Section) -->
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Docmed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    @Html.Action("gioithieu", "Trangchu")
    <hr />
    <!-- bradcam_area_end  -->
    <!-- expert_doctors_area_start -->
    <!-- expert_doctors_area_end -->
    <!-- testmonial_area_start -->

    <div id="services" class="container-fluid text-center bg-grey" style="margin-top:2em;border-radius:30px;">
        <h2>DỊCH VỤ CỦA CHÚNG TÔI</h2>
        <h4>Chào mừng quý khách đến với website </h4>
        <hr style="background: red;border: 0; height: 5px; width:20%" />
        <br>
        <div class="row ">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-off logo-small"></span>
                <h4>CUNG CẤP CÁC GÓI KHÁM</h4>
                <p>Chúng tôi luôn đưa ra các giải pháp, đưa ra các dịch vụ khám bệnh chất lượng</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-heart logo-small"></span>
                <h4>ĐĂNG KÝ NHANH</h4>
                <p>Bệnh nhân có thể đăng ký nhanh trực tiếp trên website</p>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock logo-small"></span>
                <h4>ĐĂNG KÝ VỚI BÁC SỸ</h4>
                <p>Bệnh nhân có thể trực tiếp đăng ký nhanh bác sỹ khám bệnh cho mình</p>
            </div>
        </div>
    </div>

</body>

</html>