@using doan_qldkonline.Models
@model List<tintuc>
@{
    ViewBag.Title = "tintuc";
    Layout = "~/Views/layout/layout_trangchu.cshtml";
}

<div style="margin-top:-50px;margin-bottom:40px;border-radius:10px;height:30px;">
    <h3 style="color:brown;font-style:unset"><b>TỔNG HỢP CÁC BÀI VIẾT VỀ Y KHOA /</b></h3>
    <h3>Những bài viết có nội dung được đề cập vào lĩnh vực y khoa giúp cho mọi người tăng sự hiểu biết về nhiều loại bệnh để phòng tránh</h3>
</div>
<br />
<hr />
<div class="row text-center @*slideanim*@">
    @foreach (var item in Model)
    {

        <div class="col-sm-3">
            <div class="thumbnail" style="background-color:ghostwhite;">
                <p class="card">
                    <img src="@Url.Content(item.hinhanh)" style="width:200px;height:210px;">
                </p>
                <p class="card-text">
                    BS:<b style="color:maroon"> @Html.DisplayFor(modelItem => item.tenbaiviet)</b><br />
                    @Html.DisplayFor(modelItem => item.ngaydang)<br />
                </p>
                <div style="background-color:darkblue; height:40px;padding:10px;">
                    <a href="@Url.Action("tintucchitiet",new { @id_tt = item.id_tintuc})" style="color:white;text-decoration:none">Thông tin chi tiết ></a>

                </div>

            </div>

        </div>
    }
</div>
<link href="~/Content/tintuc_chitiet.css" rel="stylesheet" />
