@using doan_qldkonline.Models
@model List<tintuc>
@{
    ViewBag.Title = "tintuc";
    Layout = null;
}
<div>
    <div class="row">
        <div class="col-md-12 ">
            <h3 style="color:forestgreen"><b>Tin tức y khoa</b></h3>
            <hr />
        </div>
    </div>
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="thumbnail" style="background-color:ghostwhite;">
                    <p class="card">
                        <img src="@Url.Content(item.hinhanh)" style="width:200px;height:210px;">
                    </p>
                    <p class="card-text">
                        <b style="color:maroon"> @Html.DisplayFor(modelItem => item.tenbaiviet)</b><br />
                        @Html.DisplayFor(modelItem => item.ngaydang)<br />
                    </p>
                    <div style="background-color:navy; height:40px;padding:10px;">
                        <a href="@Url.Action("tintucchitiet",new { @id_tt = item.id_tintuc})" style="color:white;text-decoration:none">Thông tin chi tiết ></a>

                    </div>

                </div>

            </div>
        }


    </div>
</div>
